
net.ages.liturgical.workbench.templates/c-generator-settings/

net.ages.liturgical.workbench.templates/b-preferences/

net.ages.liturgical.workbench.templates/s-temp/

net.ages.liturgical.workbench.templates/s-tests/
